html,body{
    background: black;
    box-sizing: border-box;

    font-family: 'Helvetica','Arial','sans-serif';
    color: #39a8aa;
    padding-top: 10px;

}

.welcome.h2{
    text-align: center;
}

/*div.inline{
    display: inline;
    float: left;
    clear: both;
}*/
h4{
    color: white;
}

/*.container{
    padding-top: 10px;
}*/

.editbtn{
    padding-top: 10px;
}
.deletebtn{
    padding-top: 10px;
}

#menu span {
    border-left: solid gray 1px;
    padding-right: 5px;
    padding-left:5px;
}
#menu label{
    padding-right: 5px;
}
#detailbox span{
    color: red;
}






@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);

.detailBox {
    border:5px solid #39a8aa;
    margin:50px;
    border-radius: 5px;
}
.titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.titleBox label{
    color:#444;
    margin:0;
    display:inline-block;
}

.commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.actionBox .form-group * {
    width:100%;
}
.taskDescription {
    margin-top:10px;
}
.commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.commentList li {
    margin:0;
    margin-top:10px;
}
.commentList li > div {
    display:table-cell;
}
.commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.commenterImage img {
    width:100%;
    border-radius:50%;
}
.commentText p {
    margin:0;
}
.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}