<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="styles/detailpage.css">

    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.2.0/jquery.rateyo.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">



</head>

<body>




<div class="container">
    <div class="row">
        <div class="col-xs-6   col-sm-offset-1
    col-sm-8   col-md-offset-2 col-md-6 col-lg-6">
            <h2>Batman Begins (2005)</h2>

            <div>

                <div id="menu">

                    <div >
                        <label >141 min</label><span>released:03-25-2015 </span>

                    </div >

                    <div >
                        <label >Action,Adventure</label><span>rated:PG-13 </span>

                    </div>
                </div>

            </div>

        </div>



    </div>

</div>




<div class="container">
    <div class="row">
        <div class="col-xs-6   col-sm-offset-1
    col-sm-5   col-md-offset-2 col-md-4 col-lg-4">
            <img src="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg" class="img-responsive" alt="http://ia.media-imdb.com/images/M/MV5BMTk2NTI1MTU4N15BMl5BanBnXkFtZTcwODg0OTY0Nw@@._V1_SX300.jpg">
        </div>
        <div class=" col-sm-5  col-xs-6 col-md-5 col-lg-4" id="detailbox">
            <div id="ratingdiv">
                <div class="row">
                    <h4>Your Rating</h4>
                    <div id="rateYo"></div>
                </div>

                <div class="row">
                    <h4>Avg Rating :8.2/10</h4>
                    <div id="rateYoAvg"></div>

                </div>


                <div class="row" id="directordesc">
                    <h4>
                        <span >Director:</span>
                        Joss Whedon
                    </h4>
                </div>

                <div class="row" id="story">
                    <h4>
                        <span >Story :</span> When Tony Stark and Bruc When Tony Stark and Bruc When Tony Stark and Bruc When Tony Stark and Bruc When Tony Stark and Bruc When Tony Stark and Bruc When Tony Stark and Bruce Banner try to jump-start a dormant peacekeeping program called Ultron, things go horribly wrong and it's up to Earth's Mightiest Heroes to stop the villainous Ultron from enacting his terrible plans.</h4>
                </div>

                <div class="row" id="actorsdesc">
                    <h4>
                        <span >Actors :</span>Robert Downey Jr., Chris Hemsworth, Mark Ruffalo, Chris Evans  </h4>
                </div>


                <div class="row" id="awardsdesc">
                    <h4>
                        <span >Awards :</span>1 win & 12 nominations.</h4>
                </div>

                <div class="row" id="imdbratingdesc">
                    <h4>
                        <span >Imdb Rating :</span>9.5/10</h4>
                </div>

                <div class="row" id="imdbvotesdesc">
                    <h4>
                        <span>Imdb Votes :</span>18,800</h4>
                </div>

                <div class="row">
                    <button type="button" class="btn btn-info btn-md"
                            data-toggle="modal"
                            data-target="#myModal">Edit</button>
                    <button type="button" class="btn btn-danger btn-md "
                            data-toggle="modal"

                            data-target="#deletemodal">Delete</button>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-xs-12   col-sm-offset-1
    col-sm-10   col-md-offset-1 col-md-10">


        <div class="detailBox">
            <div class="titleBox">
                <label>Comment Box</label>
            </div>

            <div class="actionBox">
                <ul class="commentList">
                    <li>

                        <div class="commentText">
                            <p class="">Hello this is a test comment.</p> <span class="date sub-text">By ramdharan</span>

                        </div>
                    </li>
                    <li>

                        <div class="commentText">
                            <p class="">Hello this is a test comment and this comment is particularly very long and it goes on and on and on.Hello this is a test comment and this comment is particularly very long and it goes on and on and on.</p> <span class="date sub-text">By ramdharan</span>

                        </div>
                    </li>
                    <li>

                        <div class="commentText">
                            <p class="">Hello this is a test comment.</p> <span class="date sub-text">By ramdharan</span>

                        </div>
                    </li>
                </ul>
                <form class="form-inline" role="form">
                    <div class="form-group">
                        <input class="form-control" type="text" placeholder="Your comments" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-default">Add</button>
                    </div>
                </form>
            </div>
        </div>


    </div>

</div>





<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>Delete</h3>
            </div>
            <div class="modal-body">
                You are about to delete this item
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a class="btn btn-danger btn-ok">Delete</a>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <!-- Trigger the modal with a button -->

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <p class="modal-title">Edit Information</p>
                </div>
                <div class="modal-body">


                    <form>
                        <div class="form-group">
                            <label for="catalogtitle">Title</label>
                            <input type="text" class="form-control" id="catalogtitle" placeholder="Title">
                        </div>




                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="text" class="form-control" id="year" placeholder="year">
                        </div>

                        <div class="form-group">
                            <label for="rated">Rated</label>
                            <input type="text" class="form-control" id="rated" placeholder="">
                        </div>





                        <div class="form-group"> <!-- Date input -->
                            <label class="control-label" for="date">Released</label>
                            <input class="form-control" id="date" name="date"
                                   value="09/23/1987"
                                   placeholder="MM/DD/YYY" type="text"/>
                        </div>


                        <div class="form-group">
                            <label for="relased">Run time</label>
                            <input type="text" class="form-control" id="relased" placeholder="Runtime">
                        </div>



                        <div class="form-group">
                            <label for="genre">Genre</label>
                            <input type="text" class="form-control" id="genre" placeholder="Genre">
                        </div>

                        <div class="form-group">
                            <label for="director">Director</label>
                            <input type="text" class="form-control" id="director" placeholder="Director">
                        </div>


                        <div class="form-group">
                            <label for="writer">Writer</label>
                            <input type="text" class="form-control" id="writer" placeholder="Writer">
                        </div>


                        <div class="form-group">
                            <label for="actors">Actors</label>
                            <input type="text" class="form-control" id="actors" placeholder="Actors">
                        </div>


                        <div class="form-group">
                            <label for="plot">Plot</label>
                            <input type="text" class="form-control" id="plot" placeholder="Actors">
                        </div>


                        <div class="form-group">
                            <label for="language">Language</label>
                            <input type="text" class="form-control" id="language" placeholder="Language">
                        </div>


                        <div class="form-group">
                            <label for="country">Country</label>
                            <input type="text" class="form-control" id="country" placeholder="Country">
                        </div>


                        <div class="form-group">
                            <label for="awards">Awards</label>
                            <input type="text" class="form-control" id="awards" placeholder="Awards">
                        </div>


                        <div class="form-group">
                            <label for="posteredit">Poster</label>
                            <input type="text" class="form-control" id="posteredit" placeholder="Image URl">
                        </div>


                        <div class="form-group">
                            <label for="metascore">Meta Score</label>
                            <input type="text" class="form-control" id="metascore" placeholder="Meta Score">
                        </div>


                        <div class="form-group">
                            <label for="imdbrating">Imdb Rating</label>
                            <input type="text" class="form-control" id="imdbrating" placeholder="Imdb Rating">
                        </div>

                        <div class="form-group">
                            <label for="imdbvotes">Imdb Votes</label>
                            <input type="text" class="form-control" id="imdbvotes" placeholder="Imdb Votes">
                        </div>


                        <div class="form-group">
                            <label for="imdbId">Imdb Id</label>
                            <input type="text" class="form-control" id="imdbId" placeholder="Imdb Id">
                        </div>


                        <div class="form-group">
                            <label for="type">Type</label>
                            <input type="text" class="form-control" id="type" placeholder="Type">
                        </div>


                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="editclose">Close</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal" id="editdone">Done</button>
                </div>
            </div>

        </div>
    </div>

</div>
</body>

</html>
<script>

    $(function () {

        $("#rateYo").rateYo({
            numStars: 10,
            starWidth: "20px",
            halfStar: true,
            maxValue: 10,

        });

    });


    $(function () {

        $("#rateYoAvg").rateYo({
            numStars: 10,
            maxValue: 10,

            starWidth: "20px",
            rating:8.2,
            readOnly:true,
            halfStar: true


        });

    });

    $(document).ready(function(){
        var date_input=$('input[name="date"]'); //our date input has the name "date"
        var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
        var options={
            format: 'mm/dd/yyyy',
            container: container,
            todayHighlight: true,
            autoclose: true
        };
        date_input.datepicker(options);
    })


</script>

