.modal-content{
    color: black;
}
.catalog-content {
    border: 5px solid chocolate;
    border-radius: 5px;
    margin-top: 10px;
    height: 350px;
    box-sizing: border-box;
}
#card-img{
    height:340px;
    width: 100%;
}

.search-box{
    margin-top: 10px;
    width: 200px;
    border-radius: 5px;
    color: black;
}
#delete-catalog{
    margin-left: 10px;
    margin-top: -70px;
}

#create-catalog,#btn-logout{
    margin-top: 8px;

}
#btn-logout{
    margin-left: 250px;
    margin-right: 10px;
}
.top-banner{
    text-align: center;
    background-color:#595959 ;
}

.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu.columns-3 {
    min-width: 600px;
}
.dropdown-menu li a {
    padding: 5px 15px;
    font-weight: 300;
}
.multi-column-dropdown {
    list-style: none;
}
.multi-column-dropdown li a {
    display: block;
    clear: both;
    line-height: 1.428571429;
    color: #333;
    white-space: normal;
}
.multi-column-dropdown li a:hover {
    text-decoration: none;
    color: #262626;
    background-color: #f5f5f5;
}

@media (max-width: 767px) {
    .dropdown-menu.multi-column {
        min-width: 240px !important;
        overflow-x: hidden;
    }
}